<div class="row">
  <div class="col-md-3" *ngFor="let book of books">
    <div class="card mb-3 box-shadow">
      <img class="card-img-top"
       alt="Thumbnail [100%x225]"
       style="height: 300px; width: 100%; display: block;"
        src="{{book.image1}}"
        data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text">{{ book.title }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
             type="button"
             class="btn btn-sm btn-primary product-btn"
             (click)="bookClicked(book)"
             >Add to Cart</button>
            <button type="button" class="btn btn-sm btn-secondary product-btn">View Details</button>
          </div>
          <small class="text-muted">{{ book.price | currency:"EUR"}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
